[user]
	email = zach@zjp.codes
	name = Zach Pearson
	signingkey = 9BA7581D07E46B4C
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[commit]
	gpgsign = true

