[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/syl20bnr/spacemacs
[submodule ".config/nvim/bundle/Vundle.vim"]
	path = .config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "git/cloned-as-package/emacs"]
	path = git/cloned-as-package/emacs
	url = https://git.savannah.gnu.org/git/emacs.git
