[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "/home/zjp/.local/share"]
	path = /home/zjp/.local/share
	url = git@192.168.1.217:local-shared.git
[submodule ".config/nvim/bundle"]
	path = .config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
