[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/syl20bnr/spacemacs
[submodule ".config/nvim/bundle"]
	path = .config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
